{% extends 'base.html' %}

{% block head %}
<title>wordle solver</title>
{% endblock %}

{% block body %}
<h1>WORDLE SOLVER</h1>

<div class="wordle" style="float:left;">
  <br>
  <table border="1px solid black" width="225px" align="center">
    <tr>
      <th style="color:rgb(15, 168, 79); align-content:center">greens</th>
      <th width="33px">valid?</th>
      <th width="33px">action</th>
    </tr>
    {% for green in greens %}
      <tr>
        <td align="center">{{green.str}}</td>
        <td>{{green.valid}}</td>
        <td>
          <a href="/delete/{{green.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if greens is defined and greens|length<1 %}
    <p align="center">No greens entered. Enter greens in their correct position.</p>
    <p align="center">Valid responses must be 5 characters long. (Ex. p--n-)</p>
  {%endif%}

  <br>
  <form action="/" method="POST" align="center">
    <input value = "g" type="hidden" name="my_id">
    <input type="text" name="green" id="green">
    <input type="submit" value="add greens">
  </form>
  <br><br><br>

  <table border="1px solid black" width="200px" align="center">
    <tr>
      <th style="color:rgb(196, 237, 91); align-content:center">yellows</th>
      <th width="33px">valid?</th>
      <th width="33px">action</th>
    </tr>
    {% for yellow in yellows %}
      <tr>
        <td align="center">{{yellow.str}}</td>
        <td>{{yellow.valid}}</td>
        <td>
          <a href="/delete/{{yellow.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if yellows is defined and yellows|length<1 %}
    <p align="center">No yellows entered. Enter yellows in their correct position.</p>
    <p align="center">Valid responses must be 5 characters long. (Ex. --a--)</p>
  {%endif%}

  <br>
  <form action="/" method="POST" align="center">
    <input value = "y" type="hidden" name="my_id">
    <input type="text" name="yellow" id="yellow">
    <input type="submit" value="add yellows">
  </form>
  <br><br><br>

  <table border="1px solid black" width="200px" align="center">
    <tr>
      <th style="color:rgb(88, 96, 91); align-content:center">used</th>
      <th width="33px">valid?</th>
      <th width="33px">action</th>
    </tr>
    {% for use in used %}
      <tr>
        <td align="center">{{use.str}}</td>
        <td>{{use.valid}}</td>
        <td>
          <a href="/delete/{{use.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if used is defined and used|length<1 %}
    <p align="center">No used letters entered.</p>
    <p align="center">Enter used letters that are not yellow or green. (Ex. ls)</p>
  {%endif%}

  <br>
  <form action="/" method="POST" align="center">
    <input value = "u" type="hidden" name="my_id">
    <input type="text" name="use" id="use">
    <input type="submit" value="add used">
  </form>
  <br>
</div>

<div class="possible" style="float:right;">
  <form action="/" method="POST" align="left">
    <p align="left">click here to start a new word</p>
    <input value = "reset" type="hidden" name="my_id">
    <input type="submit" value="new word">
  </form>
  <br><br>
  
  
  <h2 align="left">possible words</h2>
  {% for word in possible %}
    <p align="left">{{word[0]}}. {{word[1]}}</p>
  {% endfor %}


</div>
{% endblock %}