{% extends 'base.html' %}

{% block head %}
<title>wordle solver</title>
{% endblock %}

{% block body %}
<h1 style="color:magenta;text-align:center">wordle solver</h1>

<div class="wordle" style="float:left;margin-left:200px;margin-top:50px">
  <table border="1px solid black" width="500px" align="center">
    <tr>
      <th style="color:rgb(1, 111, 47)">greens</th>
      <th>valid?</th>
      <th>actions</th>
    </tr>
    {% for green in greens %}
      <tr>
        <td>{{green.str}}</td>
        <td>{{green.valid}}</td>
        <td>
          <!-- {% if green.valid == 'false' %}
          <a href="/delete/{{green.id}}">Delete</a>
          {%endif%} -->
          <a href="/delete/{{green.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if greens is defined and greens|length<1 %}
    <p align="center">No greens entered. Enter greens in their correct position.</p>
    <p align="center">Valid responses must be 5 characters long. (Ex. p--n-)</p>
  {%endif%}

  <br>
  <form action="/" method="POST" align="center">
    <input value = "g" type="hidden" name="my_id">
    <input type="text" name="green" id="green">
    <input type="submit" value="add greens">
  </form>
  <br><br><br><br>

  <table border="1px solid black" width="500px" align="center">
    <tr>
      <th style="color:rgb(141, 184, 33)">yellows</th>
      <th>valid?</th>
      <th>actions</th>
    </tr>
    {% for yellow in yellows %}
      <tr>
        <td>{{yellow.str}}</td>
        <td>{{yellow.valid}}</td>
        <td>
          <!-- {% if yellow.valid == 'false' %}
          <a href="/delete/{{yellow.id}}">Delete</a>
          {%endif%} -->
          <a href="/delete/{{yellow.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if yellows is defined and yellows|length<1 %}
    <p align="center">No yellows entered. Enter yellows in their correct position.</p>
    <p align="center">Valid responses must be 5 characters long. (Ex. --a--)</p>
  {%endif%}

  <br>
  <form action="/" method="POST" align="center">
    <input value = "y" type="hidden" name="my_id">
    <input type="text" name="yellow" id="yellow">
    <input type="submit" value="add yellows">
  </form>
  <br><br><br><br>

  <table border="1px solid black" width="500px" align="center">
    <tr>
      <th style="color:rgb(88, 96, 91)">used</th>
      <th>valid?</th>
      <th>actions</th>
    </tr>
    {% for use in used %}
      <tr>
        <td>{{use.str}}</td>
        <td>{{use.valid}}</td>
        <td>
          <!-- {% if use.valid == 'false' %}
          <a href="/delete/{{use.id}}">Delete</a>
          {%endif%} -->
          <a href="/delete/{{use.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if used is defined and used|length<1 %}
    <p align="center">No used letters entered.</p>
    <p align="center">Enter used letters that are not yellow or green. (Ex. ls)</p>
  {%endif%}

  <br>
  <form action="/" method="POST" align="center">
    <input value = "u" type="hidden" name="my_id">
    <input type="text" name="use" id="use">
    <input type="submit" value="add used">
  </form>
</div>

<div class="possible" style="float:right;margin-right:200px;margin-top:25px">
  <form action="/" method="POST" align="center">
    <p align="left">click here to start a new word</p>
    <input value = "reset" type="hidden" name="my_id">
    <input type="submit" value="new word">
  </form>
  <br><br>
  
  
  <h2 align="left">possible words</h2>
  {% for word in possible %}
    <p align="left">{{word[0]}}. {{word[1]}}</p>
  {% endfor %}


</div>
{% endblock %}